@import "tailwindcss";

:root {
  --background: #010501;
  --foreground: #ffffff;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}
